.case{
  display: flex;
  height: 80vh;
  width: 50vw;
  border: solid 5px black;
  padding: 1vw;
  flex-direction: column;
}


.display {
border: solid 1px black; 
background-color: red;
height: 12vh;
margin-bottom: 3vh;

}


.buttons {
border: solid 1px black;
height: 60vh;
width: 40vw;
background-color: blue;
justify-content: row;
display: flex;
flex-wrap: wrap;
}

.button-row{
  display: flex;
  flex-direction: row;
  width: 40vw;
  /* flex-wrap: wrap; */

}

.button{
margin: 1vh;
border: 1px solid black;
text-align: center;
border-radius: 20%;
height: 7vh;
width: 20vw;
}