.case{
  display: flex;
  height: 80vh;
  width: 50vw;
  border: solid 1px black;
  padding: 1vw;
  flex-direction: column;
}


.display {
border: solid 1px black; 
background-color: red;
height: 12vh;
margin-bottom: 3vh;

}


.buttons {
border: solid 1px black;
height: 45vw;
width: 40vw;
background-color: blue;


}